url = "/"
layout = "default"
title = "Demonstration"

[imagesComponent]
==
<div class="home-container">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <h3 class="header-icon cms-layout">Images</h3>
                <hr>
{% component 'imagesComponent' %}
            </div>
        </div>
    </div>
</div>